PRODUCTS

- id: int
- title: varchar
- description: text
- image: varchar
- status int
- create_at: datetime
- update_at: datetime

- /home/ ---> list PRODUCTS with detail button and paging
- /home/products/1/ ---> product detail
- /admin/products/ ---> list PRODUCTS with action button and paging
- /admin/products/new/ ---> add
- /admin/products/1/edit/ ---> edit
- /admin/products/delete/ ---> delete

Rewrite URL sử dụng .htaccess
