PRODUCTS

- id: int
- title: varchar
- description: text
- image: varchar
- status int
- create_at: datetime
- update_at: datetime

- /home/ ---> list PRODUCTS with detail button and paging
- /home/products/1/ ---> product detail
- /admin/ ---> list PRODUCTS with action button and paging
- /admin/new/ ---> add
- /admin/edit/1/ ---> edit
- /admin/delete/1/ ---> delete

Rewrite URL sử dụng .htaccess
